/* .mantrasadhna-bg {
  background-image: url("mantrasadhna/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.ram-bg {
  animation: moveRotate 20s infinite linear;
}

.h-img {
  position: relative;
  margin-top: -358px;
  max-width: 869px;
  margin-left: -88px;
} */

.DaanSadhna-wraper{
  margin-bottom: 14%;
}
.daanseva-info{
font-weight: 400;
font-style: Regular;
font-size: 17px;
line-height: 36px;
letter-spacing: -3%;
text-align: justify;
color: #000000;
}