/* .mantrasadhna-bg {
  background-image: url("mantrasadhna/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.ram-bg {
  animation: moveRotate 20s infinite linear;
}

.h-img {
  position: relative;
  margin-top: -358px;
  max-width: 869px;
  margin-left: -88px;
} */

.DaanSadhna-wraper{
  margin-bottom: 14%;
}