.small-modal-m {
  border: 3px solid #f8701b;
}

.small-modal-heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #98141e;
}

.header-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.popup-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 6%;
  text-align: justify;
  color: #000000;
}
.reviews-box-shadow{
  box-shadow: 0px 8px 4px 0px #00000040
}