.mantrasadhna-event-container {
  background-color: #fff2e2;
  position: relative;
  width: 100%;
  /* height: 500px; */
  /* overflow: hidden;  */
  z-index: 1;
}

.mantrasadhna-event-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: url("/mantrasadhna/chakra.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotate 12s linear infinite;
  z-index: -1;
}

/* Bottom-right image */
.mantrasadhna-event-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-image: url("/mantrasadhna/chakra.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotate 12s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mantrasadhna-event {
  background: url("mantrasadhna/bg-.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 130px;
}

.mantrasadhna-event-heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.mantrasadhna-event-benifit {
  font-weight: 200;
  font-style: Italic;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.mantrasadhna-info {
  border-radius: 42px;
  background: #faf4ee;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 6%;
  text-align: center;
  color: #000000;
}

