.timeline-wrapper {
  /* background: #474e5d; */
  padding: 60px 20px;
  overflow-x: auto;
}

/* Main horizontal line */
.timeline-horizontal {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  padding: 200px 0;
}

.timeline-horizontal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 6px;
  background: #000000;
  transform: translateY(-50%);
}

/* Each point */
.timeline-item {
  position: relative;
  width: 160px;
  text-align: center;
}

/* Dot */
.dot {
  width: 22px;
  height: 22px;
  background: #f8701b;
  border: 4px solid #f8701b;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.dot1::before  ,.dot3::before , .dot5::before  ,.dot7::before {
  content: "";
  background-color: #f8701b;
  display: block;
  width: 8px;
  height: 40px;
  position: absolute;
  top: -33px;
  left: 3px;
}
.dot2::before ,.dot4::before, .dot6::before ,.dot8::before {
  content: "";
  background-color: #f8701b;
  display: block;
  width: 8px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 3px;
}

/* Card */
.card {
  background: #fff0cf;
  padding: 16px;
  border-radius: 18px;
  width: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px 0px #00000040;
}
.card1 , .card3  ,.card5 , .card7 {
    box-shadow: 0px -4px 4px 0px #00000040;
}

.card h3 {
  margin: 0 0 8px;
}

/* Top cards */
.timeline-item.top .card {
  bottom: 40px;
}

.timeline-item.top .dot {
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom cards */
.timeline-item.bottom .card {
  top: 40px;
}

.timeline-item.bottom .dot {
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile */
@media (max-width: 768px) {
  .timeline-horizontal {
    min-width: 700px;
  }
}
