.product-desc .slick-dots li button:before {
  font-size: 16px !important;
  color: #d9d9d9;
  opacity: 1;
}
.product-desc .slick-dots li {
  width: 30px;
}
.product-desc .slick-dots li.slick-active button:before {
  color: var(--rust-red) !important;
  opacity: 1;
}

.product-desc-para {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #000000;
}

.product-desc-para-orange {
  color: #e65800;
}
.booking-heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.booking-now-btn,
.add-to-cart-btn {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: -2%;
  text-align: center;
  color: #ffffff;
  background: #006821;
  border-radius: 50px;
}

.booking-cards {
  border-radius: 16px;
  background-color: #fef2dc;
  height: 100%;
}
.booking-cards .booking-image-box {
  width: 60px;
  height: 60px;
}
.booking-cards-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -2%;
  text-align: center;
  color: #000000;
}

.about-heading-product {
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #98141e;
}

.about-heading-product::before,
.about-heading-product::after {
  height: 4px;
  background-color: #98141e;
  content: "";
  display: block;
  width: 30%;
  /* margin-top: -8px; */
}

.about-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.about-heading-product-below {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #98141e;
}

.about-line {
  width: 3px;
  background-color: #f8701b;
  /* height: 100%; */
}

.about-heading-product-below-right {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  /* text-align: center; */
  color: #f8701b;
  text-underline-offset: 4px;
}

.about-section-bg {
  background-color: #d9d9d9;
  height: 400px;
}

.participate-section {
  box-shadow: 0px 8px 4px 0px #f8701b9c;
  border-radius: 33px;
  height: 226px;
  background-color: #fef1d3;
}
.participate-section-right {
  height: 362px;
  border-radius: 35px;
  background-color: #fef1d3;
}

.participate-section-circle {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.participate-section-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

/* ////// */

.price-tag {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #cc4e00;
}

.price-desc {
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
}

.product-quantity-tag {
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  letter-spacing: 0%;
  color: #461b00;
}

.product-quantity-btn {
  height: 35px;
  border-radius: 26px;
  border: 1px solid #e65800;
}

.add-to-cart-btn {
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #0c0c0c54;
  color: #0f0f0f;
}

.booking-now-btn-produc {
  box-shadow: 0px 4px 4px 0px #0c0c0c54;
}

.add-to-wish-btn {
  background: #fefefe;
  box-shadow: 0px 4px 4px 0px #00000024;
  width: 100%;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  text-align: center;
  color: #000000;
  border-radius: 50px;
  height: 35px;
}
.cart-product-desc {
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: justify;
  color: #000000;
}
.review-section {
  box-shadow: 4px 5px 4px 0px #e658003b;
}

.products-heading {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #98141e;
  width: 100%;
}

.other-product {
  width: 320px;
  border-radius: 15px;
  border: 3px solid #f8701b;
}
