@media (max-width: 630px) {
  .text-sm-22 {
    font-size: 22px;
  }

  .gap-sm-4 {
    gap: 1rem;
  }
  .w-30-px {
    width: 30px;
  }
}

.card-shodow {
  box-shadow: 0px 7px 4px 0px #0000005e;
}
.flowers-section {
  background-image: url("./images/flowers.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: 0px 38%;
  background-size: cover;
}
